@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-serif: "Newsreader", serif;
  --font-sans: "Inter", "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

:root {
  --ui-primary: black;
  font-family: "Inter", sans-serif;
}

.dark {
  --ui-primary: white;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}

.font-sf {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}

.font-arial {
  font-family: Arial, sans-serif !important;
}